body{
  background-color: #DEE1E6;
}

.contain{
  width: 960px;
  margin: 0 auto;
}

.mycal{
    width: 254px;
    margin: 52px auto;
}


.display input{
  width: 252px;
  margin-bottom: 20px;
  height: 50px;
  text-align: right;
  font-size: 40px;
  outline: none;
}

.btn_line input{
  width: 60px;
}
.btn_line{
  margin-bottom: 10px;
}
/* .my_btn{
  height: 80px;
} */
.btn_multi_line{
  width: 190px;
  float: left;
  
}
.my_plus_btn{
  width: 60px;
  height: 86px;
  margin-left: 3px;
  margin-bottom: 10px
}
#my_zero_btn{
  width: 125px;;
}